<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>
		<div class="warpper">
			<div class="body">
			<img src="cid:welcome">
			<p class="title">尊敬的
				<%= name %> 您好!</p>
			<p class="welcome">欢迎您加入美妆小铺</p>
			<p class="code">验证码:
				<%= code %>
			</p>
			<p class="thank">感谢您对美妆小铺的关注与支持！</p>
			<p class="time">
				<%= date %>
			</p>
			</div>
		</div>
	</body>
</html>
<style>
	.warpper{
		background-color: #999;
		width: 28rem;
		height: 27rem;
		margin: auto;
		padding-top: 2rem;
	}
	.body {
		width: 25rem;
		height: 25rem;
		border-radius: 15px;
		background-color: white;
		margin: auto ;
		overflow: hidden;
	}
	
	img {
		width: 25.2rem;
	}
	
	p {
		margin: 1.5rem;
	}
	
	.title {
		font-size: 1.2rem;
		color: #777;
	
	}
	
	.welcome,
	.code {
		font-size: 1.2rem;
		color: purple;
		display: inline;
	}
	
	.code {
		font-size: 1rem;
		margin-left: 2.5rem;
		color: white;
		background-color: purple;
		padding: .5rem;
		border-radius: .3rem;
	}
	
	.thank,
	.time {
		font-size: .8rem;
		color: #999;
		margin-top: 3rem;
	}
	
	.time {
		margin-top: -1.3rem;
	}
</style>
